<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Empire PBS"  %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="https://ko-fi.com/simplestuff" class="phx-logo">        <img padding-bottom="30px" height="50px" src="<%= Routes.static_path(@conn, "/images/button_image.png") %>" alt="Supposed to be a Button"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
