/* This file is for your main application css. */
@import "./phoenix.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}
.display_table_type{
  border-radius: 30px;
  font-size:20px;
  color:white;
  text-align:center;
  
}
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
.tetable{
  padding:10px;
  text-indent: 10px;
  color:#2a2a2a;
}


.btnm{

}
.btnm:hover {
  box-shadow:  5px 10px 18px darkgray;
}
.tetable:hover{background-color: #ff8e3c;}

tr:hover {background-color:#f5f5f5;}


.NORMAL{
  background-color: #A8A77A;
}
.GRASS {
  background-color:#7AC74C
}
.ICE {
  background-color:#96D9D6
}

.BUG {
  background-color: #A6B91A;
}

.ELECTRIC{
  background-color: #F7D02C;
}

.DARK {
  background-color: #705746;
}

.FAIRY {
  background-color: #D685AD;
}

.FIGHTING{
  background-color: #C22E28;
}

.GHOST {
  background-color: #735797;
}

.FIRE {
  background-color: #EE8130;
}

.WATER {
  background-color: #6390F0;
}

.DRAGON {
  background-color: #6F35FC;
}

.FLYING {
  background-color: #A98FF3;
}

.GROUND {
  background-color: #E2BF65;
}

.PSYCHIC {
 background-color: #F95587
}

.STEEL {
  background-color: #B7B7CE
}

.POISON{
  background-color: #A33EA1
}

.ROCK {
 background-color:#B6A136 
}

.tetable{

}